head {}

body {
  font-family: "Raleway", "Verdana", sans-serif;
  background-color: #282828;
  padding-left: 30px;
  text-align: justify;
}
#totalWindow {
  width: 100%;
}
h1 {
  color: white;
}

h2 {}

h3 {}
img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.15);
}
#navBar {
  float: right;
}

#maincontent {
  width: 100%;
}
#row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column */
#row,
#row > #column {
    padding: 8px;
}

/* Create four equal columns that floats next to each other */
#column {
    float: left;
    width: 32%;
}

/* Clear floats after rows */
#row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
#content {
    padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    #column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    #column {
        width: 100%;
    }
}

p {
  color: #21ce99;
  font-size: 1.2em;
  font-weight: 500
}

a {
  text-decoration: none;
  color: #f45531;
  font-size: 1.3em;
  font-weight: 500;
  padding-right: 15px;
}
a:link {}

a:hover {
  text-decoration: underline;
}

a:visited {}

a:active {}
